.cluster {
  width: min(90vw, 1080px);
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: auto;
}

.cluster .Home-logo-header {
  position: absolute;
  height: 5vmax;
  left: 0;
  bottom: 0;
  margin: 0;
  margin-left: 2vmax;
  margin-bottom: 2vmax;
  cursor: pointer;
}

.cluster-image-title {
  font-size: 45pt;
}

.cluster-board {
  margin: auto;
}

.cluster-board {
  transform: scale(0);
  animation:
    cluster-scale
    1s
    forwards
    cubic-bezier(0.25,0.1,0.25,1.1); /* Go past the animation a little bit */
  animation-delay: 500ms;
}

@keyframes cluster-scale {
  from {
    transform: scale(0);
  }
  to {
    transform: scale(100%);
  }
}
