@namespace svg url(http://www.w3.org/2000/svg);

svg a {
  outline: none;
}

.Home {
  margin: auto;
  height: 100vh;
  width: 100vw;

  color: #b0a596;

  font-size: 12pt;

  display: grid;
  grid-template-areas:
    "header"
    "board"
    "footer"
    "email";
}

.Home-footer p {
  max-width: 100%;
  margin: 0 3vmin;
}

@media only screen and (min-width: 768px) {
  .Home-footer p {
    max-width: 50%;
  }
}

@media only screen and (min-width: 600px) {
  .Home {
    width: 90vw;

    grid-template-columns: auto 5vmin;
    grid-template-areas:
      "header header"
      "board email"
      "footer email";
  }

  .Home-email {
    width: 3vmin;
    padding-right: 3vmin;
    overflow: hidden;
  }

  .Home-email a {
    transform: rotate(90deg);
    transform-origin: bottom left;
  }
}

.Home-logo-header {
  grid-area: header;

  /* To get the header to take expected height */
  height: 15vmin;
  font-size: 0;
  margin: 0 auto;
  margin-top: 5vmin;
}

.Home-logo {
  height: 100%;
}

.Home-footer {
  grid-area: footer;

  text-align: left;
  width: 100%;
  line-height: 3ex;
  padding-top: 3vmin;
}

.Home-board {
  grid-area: board;

  display: flex;
  flex-direction: row;
  width: 100%;
}

.Home-email {
  grid-area: email;
  text-align: center;
}

.Home-email a {
  display: inline-block;
  text-decoration: none;
  color: #b0a596;
}

.Home-circle:hover {
  fill-opacity: 0.75;
}

@media (prefers-reduced-motion: no-preference) {
  .Home-circle {
    animation-name: Home-float-circle;
    animation-direction: alternate;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
  }
}

@keyframes Home-float-circle {
  0% {
    transform: translatey(0px);
  }
  100% {
    transform: translatey(-0.25vmin);
  }
}
