svg a {
  outline: none;
}

.Home {
  margin: auto;
  height: 100vh;
  width: 100vw;

  color: #b0a596;

  font-size: 12pt;

  display: grid;
  grid-template-areas:
    "header"
    "board"
    "footer"
    "email";
}

@media only screen and (min-width: 600px) {
  .Home {
    width: min(90vw, 1080px);

    grid-template-columns: auto 5vmin;
    grid-template-areas:
      "header header"
      "board email"
      "footer email";
  }
}

.Home-footer p {
  max-width: 100%;
  margin: 0 3vmin;
}

.Home-logo-header {
  grid-area: header;

  /* To get the header to take expected height */
  height: 15vmin;
  font-size: 0;
  margin: 0 auto;
  margin-top: 5vmin;
}

.Home-logo {
  height: 100%;
}

.Home-footer {
  grid-area: footer;

  text-align: left;
  width: 100%;
  line-height: 3ex;
  padding: 3vmin 0;
}

@media only screen and (min-width: 768px) {
  .Home-footer p {
    max-width: 50%;
  }
}

.Home-board {
  grid-area: board;

  display: flex;
  flex-direction: row;
  width: 100%;
}

.Home-email {
  grid-area: email;
  text-align: center;
}

.Home-email a {
  display: inline-block;
  text-decoration: none;
  color: #b0a596;
}

@media only screen and (min-width: 600px) {
  .Home-email {
    width: 3vmin;
    padding-right: 3vmin;
    overflow: hidden;
  }

  .Home-email a {
    transform: rotate(90deg);
    transform-origin: bottom left;
  }
}

.Home-circle:hover {
  fill-opacity: 0.75;
}

.Home-circle {
  animation:
    Home-float-circle
    10s
    steps(250)
    infinite;
}

#circle1 { animation-delay: -5s; }
#circle2 { animation-delay: -2s; }
#circle3 { animation-delay: -1s; }
#circle4 { animation-delay: -3s; }
#circle5 { animation-delay: -4s; }
#circle6 { animation-delay: -5s; }
#circle7 { animation-delay: -.5s; }


@keyframes Home-float-circle {
  0% {
    transform:
      translate(0, 0);
  }
  10% {
    transform:
      translate(-1%, -1%);
  }
  20% {
    transform:
      translate(0, -.5%);
  }
  30% {
    transform:
      translate(-.5%, .5%);
  }
  40% {
    transform:
      translate(0, 1.5%);
  }
  50% {
    transform:
      translate(1%, 1%);
  }
  60% {
    transform:
      translate(1.5%, 1%);
  }
  70% {
    transform:
      translate(.5%, 0);
  }
  70% {
    transform:
      translate(-.5%, -.5%);
  }
  80% {
    transform:
      translate(-1%, -1.5%);
  }
  90% {
    transform:
      translate(-1.5%, 0);
  }
  100% {
    transform:
      translate(0, 0);
  }
}
